<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="col-xs-12">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            
            <div class="logo">
                <a class="navbar-brand" href="{{ path('jlfa_web_site_homepage') }}">
                    <img src="{{ asset('img/logo_extlib.svg') }}">
                    <h1>ExtendScript library</h1>
                </a>
            </div>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav navbar-left">
                <li><a href="{{ path('jlfa_web_site_homepage') }}">{{ 'page_content.navbar.home' | trans }}</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ 'page_content.navbar.get_started.title' | trans }}<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ path('jlfa_web_site_startpage') }}">{{ 'page_content.navbar.get_started.start' | trans }}</a></li>
                        <li class="divider"></li>
                        <li class="dropdown-header">Documentation</li>
                        <li><a href="{{ asset('bundles/jlfawebsite/jsdoc/index.html') }}" target="_blank">{{ 'page_content.navbar.get_started.documentation' | trans }}</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ 'page_content.navbar.get_involved.title' | trans }}<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ path('jlfa_web_site_participatepage') }}">{{ 'page_content.navbar.get_involved.participate' | trans }}</a></li>
                        <li><a href="{{ path('ccdn_forum_user_category_index', {'forumName' : 'extendscript-library'}) }}">{{ 'page_content.navbar.get_involved.forum' | trans }}</a></li>
                    </ul>
                </li>
                <li><a href="{{ path('sdzblog_accueil') }}">{{ 'page_content.navbar.news' | trans }}</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ 'page_content.navbar.about.title' | trans }}<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ path('jlfa_web_site_contributorspage') }}">{{ 'page_content.navbar.about.contributors' | trans }}</a></li>
                        <li><a href="{{ path('jlfa_web_site_licencespage') }}">{{ 'page_content.navbar.about.licences' | trans }}</a></li>
                    </ul>
                </li>
            </ul>
            
            <ul class="nav navbar-nav navbar-right">
                {# if user connected display is name and disconnect menu #}
                {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ app.user.username }}<b class="caret"></b></a>
                      <ul class="dropdown-menu">
                          <li><a href="{{ path('fos_user_security_logout') }}">{{ 'layout.logout'|trans({}, 'FOSUserBundle') }}</a></li>
                          <li><a href="{{ path('fos_user_profile_show') }}">{{ 'page_content.navbar.user.profile' | trans }}</a></li>
                      </ul>
                    </li>
                {# if user not connected link to connection page #}
                {% else %}
                    <li><a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a></li>
                {% endif %}
                
                
            
                <li id="language-screen" class="dropdown">     
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <span class="glyphicon {{ 'flag-' ~ app.request.locale }}">
                        </span>
                        <b class="caret"></b>
                    </a>
                  
                    <ul class="dropdown-menu">
                        {% for locale in ['fr', 'en', 'de'] %}
                            <li>
                                {# when we use render controller route params not set and display an error #}
                                {% if app.request.get('_route_params') %} 
                                    <a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale' : locale})) }}">
                                      <span class="glyphicon flag-{{ locale }}"></span></a>
                                    </a>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                </li>
              
              </ul> <!-- end navbar-right -->
        </div><!-- /.navbar-collapse -->
        
    </div><!-- /.container -->
</nav>
