{% block content %}

<div class="row">
    <div class="col-lg-12">
        
        <ul id="editnav" class="nav nav-tabs">
            <li><a href="#profile" data-toggle="tab">Profile</a></li>
            <li><a href="#parameters" data-toggle="tab">Parameters</a></li>
        </ul>
        
        <div class="tab-content">
            
            <div id="profile" class="well tab-pane active">
                <form action="{{ path('fos_user_profile_edit') }}" {{ form_enctype(form) }} method="POST" class="form-inline" novalidate>
                    <fieldset>
                        <legend>{{ 'form.layout.edit' | trans  }}</legend>
                        <div class="control-group">
                            {{ form_label(form.email, label|default(null), {'tooltip': 'form.no_spam'}) }}
                            <div class="controls">
                                {{ form_widget(form.email) }}
                                {{ form_errors(form.email) }}
                            </div>
                            {{ form_row(form.displayMail) }}
                        </div>
                    
                        {{ form_row(form.username) }}
                        {{ form_row(form.aboutMe) }}
                        {{ form_row(form.birthDate) }}
                        {{ form_row(form.ownWebSite) }}
                        {{ form_row(form.vignette.file) }}
                        
                    
                        <div class="control-group">
                            {{ form_label(form.location.adresse, label|default(null), {'tooltip': 'form.using_adresse'}) }}
                            <div class="input-group controls">
                                {{ form_widget(form.location.adresse) }}
                                <span class="input-group-btn">
                                    <button id="go" class="btn   btn-default" type="button">Go</button>
                                </span>
                            </div>
                            {{ form_errors(form.location.adresse) }}
                            {{ form_row(form.displayAdresse) }}
                        </div>

                        <div class="control-group">
                            <div id="map-canvas"></div>
                        </div>
                        
                        {{ form_row(form.current_password) }}
                        {{ form_rest(form) }}
                        
                        <div class="form-actions">
                            <a class="btn btn-default" href="{{ path('fos_user_profile_show') }}">Cancel</a>
                            <button type="submit" class="btn btn-primary btn-large">
                                {{ 'profile.edit.submit'|trans({}, 'FOSUserBundle') }}
                            </button>
                        </div>
                    </fieldset>
                </form>
                </div> <!-- end tab active -->
            
                <div id="parameters" class="well tab-pane fade">
                    {% render controller("FOSUserBundle:ChangePassword:changePassword" ) %}
                </div>
            
           </div> <!-- end tab content -->
                
        </div>


{% endblock %}
