{% block content %}

<div class="row">
    <div class="col-lg-12">
        
        <ul id="editnav" class="nav nav-tabs">
            <li><a href="#profile" data-toggle="tab">Profile</a></li>
            <li><a href="#parameters" data-toggle="tab">Parameters</a></li>
        </ul>
        
        <div class="tab-content">
            
            <div id="profile" class="well tab-pane active">
                <form action="{{ path('fos_user_profile_edit') }}" {{ form_enctype(form) }} method="POST" class="form-inline" novalidate>
                    <fieldset>
                        <legend>Edit Profile</legend>
                        <div class="control-group">
                            <label class="control-label" for="{{ form.email.vars.id }}">{{ form.email.vars.label| trans({}, 'FOSUserBundle') }}<span title ="{{ 'registration.email_no_spam'|trans }}" class="glyphicon glyphicon-exclamation-sign"></span></label>
                            <div class="controls">
                                {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
                                {{ form_errors(form.email) }}
                            </div>

                            <div class="radio-group">
                                {{ form_widget(form.displayMail) }}
                                {{ form_errors(form.displayMail) }}
                            </div>
                        </div>
                        <div class="control-group">
                            {{ form_label(form.username, label|default(null), {'label_attr': {'class': 'control-label'}}) }}
                            <div class="controls">
                                {{ form_widget(form.username, {'attr': {'class': 'form-control'}}) }}
                                {{ form_errors(form.username) }}
                            </div>
                        </div>


                        <div class="control-group">
                            {{ form_label(form.aboutMe, label|default(null), {'label_attr': {'class': 'control-label'}}) }}
                            <div class="controls">
                                {{ form_widget(form.aboutMe, {'attr': {'class': 'form-control'}}) }}
                                {{ form_errors(form.aboutMe) }}
                            </div>
                        </div>
                        <div class="control-group">
                            {{ form_label(form.birthDate, label|default(null), {'label_attr': {'class': 'control-label'} } ) }}
                            <div class="controls">
                                {{ form_widget(form.birthDate) }}
                                {{ form_errors(form.birthDate) }}
                            </div>
                        </div>
                        <div class="control-group">
                            {{ form_label(form.ownWebSite, label|default(null), {'label_attr': {'class': 'control-label'} } ) }}
                            <div class="controls">
                                {{ form_widget(form.ownWebSite, {'attr': {'class': 'form-control'} } ) }}
                                {{ form_errors(form.ownWebSite) }}
                            </div>
                        </div>
                        <div class="control-group">
                            {{ form_label(form.vignette.file, label|default(null), {'label_attr': {'class': 'control-label'} } ) }}
                            <div class="controls">
                                {{ form_widget(form.vignette.file) }}
                                {{ form_errors(form.vignette.file) }}
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="{{ form.location.adresse.vars.id }}">{{ form.location.adresse.vars.label|trans }}<span title ="{{ 'registration.adresse_using'|trans }}" class="glyphicon glyphicon-exclamation-sign"></span></label>
                            <div class="input-group controls">
                                {{ form_widget(form.location.adresse, {'attr': {'class': 'form-control'}}) }}
                                <span class="input-group-btn">
                                    <button id="go" class="btn btn-default" type="button">Go</button>
                                </span>
                                {{ form_errors(form.location.adresse) }}
                            </div>

                            <div class="radio-group">
                                {{ form_widget(form.displayAdresse) }}
                                {{ form_errors(form.displayAdresse) }}
                            </div>
                        </div>

                        <div class="control-group">
                            <div id="map-canvas"></div>
                        </div>
                        
                        <div class="control-group">
                            {{ form_label(form.current_password, label|default(null), {'label_attr': {'class': 'control-label'} } ) }}
                            <div class="controls">
                                {{ form_widget(form.current_password) }}
                                {{ form_errors(form.current_password) }}
                            </div>
                        </div>
                        
                        {{ form_rest(form) }}
                        
                        <div class="form-actions">
                            <a class="btn btn-default" href="{{ path('sdzblog_accueil') }}">Cancel</a>
                            <button id="sdz_blogbundle_articleedittype" type="submit" class="btn btn-primary btn-large">
                                {{ 'profile.edit.submit'|trans }}
                            </button>
                        </div>
                    </fieldset>
                </form>
                </div> <!-- end tab active -->
            
                <div id="parameters" class="well tab-pane fade">
                    {% render controller("FOSUserBundle:ChangePassword:changePassword" ) %}
                </div>
            
           </div> <!-- end tab content -->
                
        </div>


{% endblock %}
