<div class="row profile">
    <div class="col-lg-12">
        
        {% if user.image is not null %}
            <div class="col-xs-4">
                <img src="{{ asset(user.image.webPath) }}" alt="{{ user.image.alt }}" class="img-responsive" />
            </div>
            <div class="col-xs-8">
        {% else %}
            <div class="col-xs-12">
        {% endif %}
        
        
            <div class="profile-title">
                <h4>{{ user.username }}</h4>
                {% if user.displayAdresse == true %}
                    <small>
                        <cite title="{{ user.adresse }}">
                            {{ user.adresse }}
                            <i class="glyphicon glyphicon-map-marker"></i>
                        </cite>
                    </small>
                {% endif %}
            </div>

            <div class="profile-content">
                {% if user.displayMail == true %}
                    <p>
                        <i class="glyphicon glyphicon-envelope"></i>
                        <a href="mailto:{{ user.email|rot13 }}">{{ user.email|replace_at }}</a>
                    </p>
                {% endif %}
                {% if user.ownwebsite is not empty %}
                    <p>
                        <i class="glyphicon glyphicon-globe"></i>
                        <a href="{{ user.ownwebsite }}" target="_blank">
                            {{ user.ownwebsite }}
                        </a>
                    </p>
                {% endif %}
                
                {% if user.birthDate is not empty %}
                    <p>
                        <i class="glyphicon glyphicon-gift"></i>
                        {{ user.birthDate|date('d/m/Y') }}
                    </p>
                {% endif %}
                
                    
                <div class="biographie">
                    <h4>Biographie</h4>
                    <p>
                        {{ user.aboutMe }}
                    </p> 
                </div>
            </div>
           {% if app.user is defined %}
            {% if app.user == user %}
                 <a class="btn btn-primary" href="{{ path('fos_user_profile_edit') }}">modifier</a>
                {% endif %}
           {% endif %}
        </div>

    </div>
</div>