<div class="row profile">
    <div class="col-lg-12">

        <div class="col-sm-6 col-md-4">
            <img src="http://placehold.it/380x500" alt="" class="img-responsive" />
        </div>
        <div class="col-sm-6 col-md-8">
            <div class="profile-title">
                <h4>{{ user.username }}</h4>
                {% if user.displayAdresse == true %}
                    <small>
                        <cite title="{{ user.adresse }}">
                            {{ user.adresse }}
                            <i class="glyphicon glyphicon-map-marker"></i>
                        </cite>
                    </small>
                {% endif %}
            </div>

            <div class="profile-content">
                {% if user.displayMail == true %}
                    <p>
                        <i class="glyphicon glyphicon-envelope"></i>
                        {{ user.email }}
                    </p>
                {% endif %}
                {% if user.ownwebsite is not empty %}
                    <p>
                        <i class="glyphicon glyphicon-globe"></i>
                        <a href="{{ user.ownwebsite }}" target="_blank">
                            {{ user.ownwebsite }}
                        </a>
                    </p>
                {% endif %}
                
                {% if user.birthDate is not empty %}
                    <p>
                        <i class="glyphicon glyphicon-gift"></i>
                        {{ user.birthDate|date('d/m/Y') }}
                    </p>
                {% endif %}
                
                    
                <div class="biographie">
                    <h4>Biographie</h4>
                    <p>
                        {{ user.aboutMe }}
                    </p> 
                </div>
            </div>
            <a class="btn btn-primary" href="{{ path('fos_user_profile_edit') }}">modifier</a>
        </div>

    </div>
</div>