{% extends "::backbone.html.twig" %}

{% block title %}
    {{ parent() }} | {{ 'page_content.contributors.title' | trans }}
{% endblock %}
    
{% block stylesheets %}
  {{ parent() }} 
  {% stylesheets output='css/main.css' filter='cssrewrite, ?yui_css'
    '@JlfaWebSiteBundle/Resources/public/css/leaflet.css'
    '@JlfaWebSiteBundle/Resources/public/css/map.css'
    '@JlfaWebSiteBundle/Resources/public/css/MarkerCluster.css'
    '@JlfaWebSiteBundle/Resources/public/css/MarkerCluster.Default.css'
  %}
    <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
  {% endstylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/jlfawebsite/css/L.Control.ZoomMin.css') }}" media="screen">
{% endblock %}
    
{% block content %}
        
        <div class="row">
            <div class="col-md-12">
                <div id="map"></div>
            </div>
        </div>
    
        <hr class="featurette-divider">
    
        <div class="row">
            <div class="col-lg-12">
                <h1>{{ 'page_content.contributors.partners.title' | trans }}</h1>
            </div>
        </div>
        
        <div class="row">
            
            <div class="col-md-4">
                <div class="col-md-8">
                    <h2>{{ 'page_content.contributors.partners.partner_one.title' | trans }}</h2>
                    <p>{{ 'page_content.contributors.partners.partner_one.content' | trans }}</p>
                    <p><a href="http://www.images3.ch" target="_blank">www.images3.ch</a></p>
                </div>
            </div>
            
            
        </div>
        
        
{% endblock %}
    
    
{% block javascripts %}
        {{ parent() }}

        {% javascripts output='js/main.js' filter='?yui_js'
            '@BazingaExposeTranslationBundle/Resources/public/js/translator.min.js'
            '@JlfaWebSiteBundle/Resources/public/data/countries.js'
            '@JlfaWebSiteBundle/Resources/public/data/members.js'
            '@JlfaWebSiteBundle/Resources/public/js/map-choropleth.js'
        %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <!-- library with imagepath dependency couldn't not be moved -->
    <script type="text/javascript" src="{{ asset('bundles/jlfawebsite/js/leaflet-0.7.1/leaflet.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/jlfawebsite/js/leaflet-cluster/leaflet.markercluster.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/jlfawebsite/js/leaflet-zoom-min/L.Control.ZoomMin.js') }}"></script>
    
    <script type="text/javascript" src="{{ url('bazinga_exposetranslation_js') }}"></script>
    
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
{% endblock %}