{% extends "::backbone.html.twig" %}

{% block stylesheets %}
  {{ parent() }} 
  {% stylesheets output='css/main.css' filter='cssrewrite, ?yui_css'
    '@JlfaWebSiteBundle/Resources/public/css/bootstrap-badger.css'
  %}
    <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
  {% endstylesheets %}
{% endblock %}
    
{% block content %}
    <h1>{{ 'page_content.licences.title' | trans }}</h1>
    <div class="row">
        <div class="col-lg-9">
            <h2>{{ 'page_content.licences.open_source_project.title' | trans }}</h2>
            <p>{{ 'page_content.licences.open_source_project.content' | trans }}</p>
        </div>
        <div class="col-md-3">
            <img class="featurette-image img-responsive" src="{{ asset('bundles/jlfawebsite/img/opensource.png') }}" alt="open source">
        </div>
    </div>
    
    <hr class="featurette-divider">
    
    <!-- BEGIN BADGES --------->
    <div class="row">
            <div class="col-lg-12">
                <h2>{{ 'page_content.licences.what_you_can_do.title' | trans }}</h2>
            </div>
            <div class="col-lg-6">
              <div class="badger-left badger-success" data-badger="{{ 'page_content.licences.what_you_can_do.badge_one.title' | trans }}">
                {{ 'page_content.licences.what_you_can_do.badge_one.content' | trans }}
              </div>
            </div>
            <div class="col-lg-6">
                <div class="badger-left badger-success" data-badger="{{ 'page_content.licences.what_you_can_do.badge_two.title' | trans }}">
                    {{ 'page_content.licences.what_you_can_do.badge_two.content' | trans }}
                </div>
            </div>
    </div>
    <div class="row">
            <div class="col-lg-12">
                <h2>{{ 'page_content.licences.what_you_can_not_do.title' | trans }}</h2>
            </div>
            <div class="col-lg-6">
              <div class="badger-left badger-danger" data-badger="{{ 'page_content.licences.what_you_can_not_do.badge_one.title' | trans }}">
                {{ 'page_content.licences.what_you_can_not_do.badge_one.content' | trans }}
              </div>
            </div>
            <div class="col-lg-6">
                <div class="badger-left badger-danger" data-badger="{{ 'page_content.licences.what_you_can_not_do.badge_two.title' | trans }}">
                    {{ 'page_content.licences.what_you_can_not_do.badge_two.content' | trans }}
                </div>
            </div>
    </div>
{% endblock %}
