{% extends "SdzBlogBundle::sidebar_layout.html.twig" %}

{% import "TwigBundle::Macro/userHelpers.html.twig" as userHelpers %}



{% block body_content %}
    
    
            
            <div class="row">
                <div class="col-lg-12">
                  <h1>News</h1>
              </div>
            </div>

            <!-- Blog posts -->
            {% for article in articles %}
                 
                <div class="row post">

                    {% if article.image is not null %}
                        <div class="col-lg-6 post-img-content">
                            <span class="post-title">
                                <b>{{ article.titre }}</b>
                            </span>
                            <img src="{{ asset(article.image.webPath) }}" alt="{{ article.image.alt }}" class="img-responsive" />
                        </div>
                    {% endif %}

                    <div class="col-lg-6 content">
                        <div class="author">
                            {{ 'page_content.blog.index.article_by' | trans }}
                            <b>
                                {% if article.author is not empty %}
                                    {{ article.author }}
                                {% else %}
                                    {{ 'page_content.blog.index.unknow' | trans }}
                                {% endif %}
                            </b> |
                            <time datetime="{{ article.date|date('c') }}">{{ article.date|date('d/m/Y à H\\hi') }}</time>
                        </div>
                        <!-- article content -->    
                        <p>{{ article.contenu | truncate(400, true, '...') }}</p>

                        <div>
                            <a href="{{ path('sdzblog_voir', {'slug': article.slug} ) }}" class="btn btn-warning btn-sm">
                                {{ 'page_content.blog.index.read_more' | trans }}
                            </a>
                        </div>

                        {% if is_granted('ROLE_AUTHOR') %}
                            <div class="admin-post">
                                {% set modal_id = 'modal-article-' ~ article.id %}
                                <a class="pull-right" href="{{ path('sdzblog_edit_post', { 'id': article.id } ) }}">
                                    <span class="glyphicon glyphicon-pencil"></span>
                                </a>
                                <a class="pull-right" href="#" data-toggle="modal" data-target="#{{ modal_id}}">
                                    <span class="glyphicon glyphicon-minus"></span>
                                </a>
                                <!-- Modal -->
                                {% include 'SdzBlogBundle:blog:delete.html.twig' %}
                            </div> 
                        {% endif %}

                    </div>

                </div> <!-- end post --> 
                
               
                        
                {# if it is the last post on this page not display separator #}
                {% if loop.index < nombre_sur_page %}
                    <hr class="featurette-divider">
                {% endif %}
                
            {% else %}
                <p>{{ 'page_content.blog.index.no_article' | trans }}</p>
            {% endfor %}
            
            
             {% if nb_page > 1 %}
                <ul class="pagination pull-right">
                  {# On utilise la fonction range(a, b) qui crée un tableau de valeurs entre a et b #}
                  {% for p in range(1, nb_page) %}
                    <li{% if p == page %} class="active"{% endif %}>
                      <a href="{{ path('sdzblog_accueil', {'page': p}) }}">{{ p }}</a>
                    </li>
                  {% endfor %}
                </ul>
            {% endif %}


{% endblock %}
