{% extends "SdzBlogBundle::full_layout.html.twig" %}
{% import "SdzUserBundle::userHelpers.html.twig" as userHelpers %}


{% block stylesheets %}
  {{ parent() }} 
  {% stylesheets output='css/main.css' filter='cssrewrite, ?yui_css'
    'css/form.css'
  %}
    <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
  {% endstylesheets %}
{% endblock %}

{% block body_content %}
    {% if article.image is not null %}
        <div class="row">
            <div class="col-lg-8">
                <h2>{{ article.titre }}</h2>
                <p>{{ article.contenu|markdown }}</p>
            </div>
            <div class="col-lg-4">
                <img class="featurette-image img-responsive" src="{{ asset(article.image.webPath) }}" alt="{{ article.image.alt }}">
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-lg-8">
                {% include 'SdzBlogBundle:blog:commentaire.html.twig'%}
            </div>
        </div>
    {% else %}
        <div class="row">
            <div class="col-lg-12">
                <h2>{{ article.titre }}</h2>
                <p>{{ article.contenu|markdown }}</p>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-lg-12">
                {% include 'SdzBlogBundle:blog:commentaire.html.twig'%}
            </div>
        </div>
    {% endif %}
    

{% endblock %}